.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 100vw;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
    border: 1px solid rgb(67, 120, 246);
    margin: 10px 25px 10px 25px;
    border-radius: 10px;
}

@media screen and (max-width: 700px){
    .link{
        margin: 8px 10px 8px 10px;
    }
}

.link:hover{
    color: rgb(67, 120, 246);
    background-color: #282c34 !important;
}